/*Stylesheet*/


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.flex-container {
  display: flex;
}

.flex-container > span {
  margin: 10px;
}

.header {
  border: 1px solid red;
  grid-column-start: 1;
  grid-column-end: 6;
  padding: 15px;
  color: white;
  font-weight: bold;
}

.menu {
  border: 1px solid red;
  padding: 10px;
  font-size: 25px;
  color: white;
}

.content {
  border: 1px solid red;
  grid-column-start: 2;
  grid-column-end: 6;
  padding: 10px;
}


.footer {
  border: 1px solid red;
  grid-column-start: 1;
  grid-column-end: 6;
  padding: 15px;
  color: white;
  font-weight: bold;
}

a {
  color: white;
}

hr {
  color: red;
  border-color: red;
  background-color: red;
}


body {
  background-color: black;
  color: white;
  padding: 2px;
}


.katzenbilder {
  padding: 10px;
  text-align: center;
}

.katzenbilder-groesse {
  width: 300;
  height: 300;
}

.switch-button {
  font-size: 24px;
  align-items: center;
  color: red;
}

.table {
  float: left;
  color: white;
  height: auto;
  width: auto;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  border-collapse: collapse;
}

.th, .td {
  border: 1px solid red;
  padding: 5px;
  height: 60px;
}

th {
  height: 80px;
  background-color: darkgreen;
  color: white;
}

.tr:hover {
  background-color: darkgreen;
}

.umfrage {
  font-size: 20px;
  float: left;
  padding: 20px;
}
